{% load static %}

<html lang="en">

{% include "base/header.html" %}

<body>
    
    <div class="container">
        {% include "base/portada.html" %}
    </div>

    <main class="container">
        <style>
            .bg-dark {
                background-image: url('https://www.elfinancierocr.com/resizer/rq1RwPXOHlZENwlP0IUWs_BjzGE=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gruponacion/IWC75HQW75G3JG2VJJ5LNNMLGY.jpg');
            }
            
        </style>
        <div class="p-4 p-md-5 mb-4 black rounded bg-dark center" >
            
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Soluciones integradas para el desarrollo sostenible</h1>
                <p  class="lead my-3">Los Objetivos de Desarrollo Sostenible, también conocidos como Objetivos Mundiales,
                    se adoptaron por todos los
                    Estados Miembros en 2015 como un llamado universal para poner fin a la pobreza, proteger el planeta
                    y garantizar que
                    todas las personas gocen de paz y prosperidad para 2030.</p>
                <p class="lead mb-0"><em>Es por esto que se crea la pagina para dar a conocer dichos objetivos.</em></p>
            </div>
        </div>
        {% block contenido %}

        {% endblock contenido %}

    </main>




    <footer class="blog-footer">
        <p>Blog creado por Grupo 1 <a href="https://github.com/TuliEscobar/BLOG">REPO</a></p>
        <p><small>Escobar, Lopez, Nuñez, Paez, y Rosso.</small></p>
        <p><a href="#">Volver arriba!</a></p>

    </footer>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

        </script>
</body>

</html>