.center {
    background-image: url('https://www.elfinancierocr.com/resizer/rq1RwPXOHlZENwlP0IUWs_BjzGE=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gruponacion/IWC75HQW75G3JG2VJJ5LNNMLGY.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 150%;
    }