{% extends "base/base.html" %}

{% block contenido %}
    <table class="table table-hover">
        <thead>
              <th scope="col">#</th>
              <th scope="col">Nombre del Post</th>
              <th scope="col">Opciones</th>
        </thead>
        <tbody>
            {% for p in posteos %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.titulo}}</td>
                    <td scope="col">
                        <a href="{% url 'posteos:detalle' p.id %}">Ver</a>
                        <a href="{% url 'editarpost' p.id %}">Editar</a>                                            
                        <a href="">Eliminar</a>                        
                    </td>
                </tr>
            {% endfor %}                
        </tbody>
    </table>
{% endblock contenido %}
    
    